<div class="centred">
  <h3>Your Basket</h3>
</div>
<div>
  <table id="basket">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Delete</th>
    </tr>
  </table>
</div>
<div>
  <h3 class="centred margin-top--1">Total:</h3>
</div>

<script>
  window.onload = async function () {
    const productIds = getLocalStorageItems();
    const basketProducts = await getProducts(productIds);
    const html = getHTML(basketProducts);
    insertHTML(html);
  };

  function getLocalStorageItems() {
    productIds = JSON.parse(localStorage.getItem("basket"));
    return productIds.map(item => parseInt(item));
  }

  async function getProducts(productIds) {
    const data = {
      productIds: productIds
    }
    const response = await
      fetch(`http://localhost:3010/api/basket`, {
        method: "POST",
        body: JSON.stringify(data),
        headers: { 'content-type': 'application/json', }
      })
    const products = await response.json();
    return products
  }

  function getHTML(products) {
    let html = "";
    for (let product of products) {
      html += ` <tr>
        <td>${product.title}</td>
        <td>${product.price}</td>
        <td><button
          type="button"
          onClick='removeFromBasket("${product.id}")'
        >
          Remove From Basket
        </button></td>
      </tr> `
    }
    return html
  }

  function insertHTML(html) {
    let basketHtml = document.querySelector("#basket").innerHTML
    basketHtml += html
    document.querySelector("#basket").innerHTML = basketHtml
  }
</script>