<section class="content-section">
  <br>
  </header><h2 class="wel">Welcome to our shop</h2>
  <img class="about-band-image"
    src="https://images.unsplash.com/photo-1567958451986-2de427a4a0be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHJldGFpbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" />
</section>

  <p class= "centred">
    JAMD™
  </p>
