<br>
<div class="promo-blocks">
  
  {{#if products.length }}
    {{#each products }}
      {{> productTemplate this }}
    {{/each}}
  {{else}}
    <p>No products available left :(</p>
  {{/if}}
</div>