<div class = 'promo-blocks__actions'>
  <a href="/basket"><br>View Basket<br><br><br></a>
<br>
</div>

<div class="promo-blocks">
  
  {{#if products.length }}
    {{#each products }}
      {{> productTemplate this }}
    {{/each}}
  {{else}}
    <p>No products available left :(</p>
  {{/if}}
</div>