/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", serif;
  background-color: ivory;
}

h1,
h2,
h3 {
  color: #333;
  font-family: "Roboto";
  margin-top: 0.5rem;
}

p {
  line-height: 1.5;
}

a {
  color: #7e2811;
}

button {
  padding: 0.41rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

main {
  margin: 1.5rem 0;
}

button:hover,
.anchor--button:hover {
  background-color: #4bd33e;
}


.danger_button:hover {
  background-color: #f55c48;
  color:black;
}
.danger_button {
  background-color: #FF0000;
  color: white;
}


.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.promo-blocks > div {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.promo-blocks > div:last-child {
  margin-right: 0;
}

.promo-section {
  margin-top: 3rem;
}

.promo-blocks ul {
  margin-left: 1.5rem;
  list-style: disc;
}


.anchor--button,
button {
  font-size: 1rem;
  border: 0;
  background-color: #22147f;
  color: white;
  text-decoration: none;
  cursor: pointer;  
  margin-right: 0.5rem;
  border-radius: 0.5rem;

}

.anchor--button {
  padding: 0.5rem;
}

.promo-blocks__actions {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.heading__sub {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-top: 0.8rem;
}

.button--active {
  background-color: #acc12f;
}

.restaurant img,
.promo-blocks > div img {
  max-height: 12rem;
}

@media screen and (max-width: 1024px) {
  .product-details {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .promo-blocks {
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    flex: 1 1 287px;
    margin: 3rem 2rem;
  }
  .product img,
  .promo-blocks > div img {
   
    position: relative;
    border-radius: 2rem;
  }

  .product-details {
    display: flex;
  }
}

input {
  border: 1px solid;
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  min-width: 25rem;
}

label {
  display: block;
}

.main-nav ul li {
  margin-right: 1rem; /* 1rem = 18px */
}

.centred {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.margin-top--1 {
  margin-top: 1rem;
}

nav {
  background-color: wheat;
  padding: 1.5rem;
}

nav .logo-text {
  font-family: arial;
  color: rgb(49, 23, 197);
  font-size: 35px;
  text-decoration: none;
}
nav .logo-text:hover{
  color:rgb(42, 155, 20);
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  font-size: 17px;
  color: rgb(15, 83, 35);
  padding: 13px 14px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgb(42, 155, 20);
  color:white;
  border-radius: 0.5rem;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: rgb(250, 248, 144);
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

.about-band-image {
  width: 100%;
}

@media screen and (min-width: 967px) {
  nav {
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav ul {
    display: flex;
  }

  nav .logo-text {
    margin-right: 1rem;
  }
}
