<header class="main-header">
  <nav class="nav main-nav">
    <a href="/" class="logo-text">
      The JAMD
    </a>
    <ul>
      <li><a href="/products">View our products</a></li>
      <li><a href="/products/category/1">Men's</a></li>
      <li><a href="/products/category/4">Women's</a></li>
      <li><a href="/products/category/2">Jewellery</a></li>
      <li><a href="/products/category/3">Electronics</a></li>
      <li><a href="/basket">View Basket</a></li>
    </ul>
  </nav>
</header>