<header class="main-header">
  <h1 class="band-name band-name-large">The JAMD</h1>
  <h2 class="section-header">Welcome to our shop</h2>
  <nav class="nav main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">View our products</a></li>
    </ul>
  </nav>
</header>