<header class="main-header">

  <nav class="nav main-nav"><p>The JAMD</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">View our products</a></li>
      <li><a href="/category/">Men's</a></li>
      <li><a href="/products">Women's</a></li>
      <li><a href="/products">Jewelry</a></li>
      <li><a href="/basket">View Basket</a></li>
    </ul>
  </nav>
  <h2>Welcome to our shop</h2>
</header>