<header class="main-header">

  <nav class="nav main-nav"><p>The JAMD</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">View our products</a></li>
      <li><a href="/category/1">Men's</a></li>
      <li><a href="/category/2">Women's</a></li>
      <li><a href="/category/3">Jewelry</a></li>
      <li><a href="/category/4">Electronics</a></li>
      <li><a href="/basket">View Basket</a></li>
    </ul>
  </nav>
</header>
<h2 class="wel">Welcome to our shop</h2>