<div class="product">
  <table border="1">
    <tc>
      <tc>
        <h3>{{this.title}}</h3>

      </tc>
      <tc>
        <a href="/products/{{this.id}}" class=""><img
            src="{{this.image}}"
            alt="{{this.name}}"
          />
        </a></tc>

    </tc>
  </table>
</div>