<div class='product'>
  <h3>{{this.title}}</h3>
  <img src='{{this.image}}' alt='{{this.name}}' />
  <div class='promo-blocks__actions'>
    <a href='/products/{{this.id}}' class='anchor--button'>
      View
    </a>
  </div>
</div>